@import './src/assets/scss/colors';
.card {
  background-color: $profile;
  border-radius: 0;
}

.user-details {
  position: relative;

  .upload {
    position: absolute;
    right: 60px;
    top: 250px;
    & .btn-circle.btn-lg {
      width: 75px;
      height: 75px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.33;
      border-radius: 50px;
    }
    & i {
      margin: 0;
      font-size: 1.5rem;
    }
  }

  .user-img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin-bottom: 1rem;
  }
}
