// #wrapper {
//   padding-left: 0;
//   -webkit-transition: all 0.5s ease;
//   -moz-transition: all 0.5s ease;
//   -o-transition: all 0.5s ease;
//   transition: all 0.5s ease;
//   &.toggled {
//     padding-left: 250px;
//     @media (min-width: 768px) {
//       padding-left: 250px;
//     }
//     #sidebar-wrapper {
//       width: 250px;
//       @media (min-width: 768px) {
//         width: 250px;
//       }
//     }
//     #page-content-wrapper {
//       position: absolute;
//       margin-right: -250px;
//       @media (min-width: 768px) {
//         position: relative;
//         margin-right: 0;
//       }
//     }
//   }
//   #page-content-wrapper {
//     width: 100%;
//     position: absolute;
//     @media (min-width: 768px) {
//       padding-left: 250px;
//       position: relative;
//     }
//   }
//   .main-content {
//     background-color: #2a2a2f;
//     height: 100vh;
//     //color: white;
//   }

//   @media (min-width: 768px) {
//     padding-left: 0;
//   }
// }

#wrapper {
  display: grid;
  background-color: gray;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 55px 1fr;
  grid-template-areas:
    'side navb'
    'side main';

  .main-side {
    grid-area: side;
  }
  .main-content {
    grid-area: main;
    padding: 50px;
  }
  .main-navb {
    grid-area: navb;
  }
}
