.content {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'info votes'
    'info chart';

  & .user-info {
    grid-area: info;
  }

  & .user-votes {
    grid-area: votes;
  }

  & .user-chart {
    grid-area: chart;
  }
}
