@import './src/assets/scss/colors';
@import './src/assets/scss/common';
.navbar {
  background-color: $black;
  position: fixed;
  z-index: 1030;
  width: 100%;
  .form-inline {
    width: 100%;
    .input-group {
      width: 85%;
      .input-group-prepend span {
        background: transparent;
        border: none;
        cursor: pointer;
        i {
          color: $border-bottom;
          transition: 500ms ease;
          &.active {
            color: $white;
          }
        }
      }
      input {
        transition: 500ms ease;
      }
      .log--out {
        margin-left: 40px;
      }
    }
  }
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}
